html,body
{
  
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.whole{
    height:100vh;
    background-color:#384087;
    color:white;
    font-family: 'Sunflower', sans-serif;
    padding:2rem ;
}


.title{
    width:100vw;
    font-size:68px;
    text-align:center;
    padding-top:1rem;
}

.skillsContainer{
   
    height:100%;
    margin:rem ;
}

.skillsBox{
    height:17vh;
    background:#303779;
    margin:30px;
    display:flex;  
    padding:2%;
    align-items:center; 
    padding-left:20%;   
}

.sectionNames{
    margin-right:2em;
    text-align: right;
    
    width:10%;
}

.skillscons{
  
    font-size:82px;
    display:flex;
    margin:0.5em;
    
 
}
