html,body
{
  
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.whole{
    height:100vh;
    background-color:#384087;
    color:white;
    font-family: 'Sunflower', sans-serif;
    padding:2rem ;
}


.title{
    width:100vw;
    font-size:68px;
    text-align:center;
    padding-top:1rem;
}

.skillsContainer{
 
    height:100%;
    
}

.skillsBox{
    height:17vh;
    background:#303779;
    margin:30px;
    display:flex;  
    padding:2%;
    align-items:center; 
    padding-left:20%;   
}

.sectionNames{
    margin-right:2em;
    text-align: right;
    
    width:10%;
}

.skillscons{
  
    font-size:82px;
    display:flex;
    margin:0.5em;
    
 
}


@media (max-width : 1000px){

    .whole{
        height:auto;
        margin-left:-1em;

    }




    .skillsBox{
       height:auto;
       flex-wrap: wrap;
       width:90%;
    }

    .skillsContainer{
        align-items: center;
         justify-content: space-around;
        
        }

    .skillscons{
       
        font-size:72px;
        display:flex;
        
        margin:0.2em;
        
     

    }

    .sectionNames{
        text-align:center;
        margin-left:-10px;
        width:100vw;
         

    }

    .title{
        margin-left:-20px;
    }

}