.wholeContacts{
    display:flex;
    height:auto;
}


.contactForm{
    background-color:#2E24A0;
    margin:3rem;
    border-radius:18px;
    width:65%;
    color:white;
    text-align:right;
    padding:2em;
    padding-right:4em;
    margin-left:8vh;
    margin-bottom:3em;

}


.ContactMe{
    width:100%;
    font-size:62px;
margin-bottom:-10px;
}

.form{
    display:flex;
    flex-direction:column;
    margin-top:3rem;
    width:100%  ;
}

.formItems{
    background-color:#2E24A0;
    border:0px;
    border-bottom:1px solid white;
    font-size:32px;
    margin-top:1em;
    width:40%;
    color:white;
    margin-left:3rem;
    
}


.line
{
  width:100px;background-color:white;
  border: 0.1em solid white; /* dashed, groove, inset */
  margin-top:1.5em;margin-bottom:1em;
}

.line, .text
{
  float:right;
}

.text
{
  padding-left:10px;padding-right:0px;
  font-size:62px;
    
}

.formButton{
    background-color:white;
    height:3rem;
    border:0px;
    font-size:32px;
    margin-top:1em;
    width:35%;
    color:#2E24A0;
    margin: 4rem auto;
    border-radius:18px;
}

.formButton:hover{
    background-color:rgb(221, 208, 236);
    cursor:pointer;
}

.MySocials{
    font-size:57px;    
     color:#2E24A0;
    
    text-align:center;
}

.socialMedia{
    padding:2em;
    margin:0em auto;

}

.emailLogo{
    margin: auto 0.5em; 
    font-size:40px;
    margin-left:-0.25em;
}

.emailContainer{
    display:flex;
    margin: 2em auto;
    margin-left:2em;
    color:rgb(46, 41, 41);
    width:100%;

    
}

.socialMediaContainer{
 background-image:url(images/meLookingMountains.jpg);   
 height:68.5%;
 width:25em;
 margin:auto auto; 
 background-size:cover ;
 background-position-y:80%;
background-position-x:70%;
border-radius:18px;
padding:2em;
}


.socialMediaIconsContainer{
    margin-left:auto;
    margin-right:auto;
    
    width:100%;
    height:50px;
    font-size:50px;
    display:flex;
    justify-content: space-around;

}


.socialMediaIconsContainer a, a:hover, a:focus, a:active{
    color:black;
}


@media (max-width: 1000px){
    .wholeContacts{
        display:flex;
        flex-direction:column-reverse;
        height:auto;
        align-items:center;
    }


    .socialMedia{
        height:100vh;
    }
    
}