*{
    box-sizing: border-box;
}

.whole{
    background-color:#F6E5F3;
    height:100vh;
    padding:3.5% 3%;
    margin:0 ;
    display:flex;
    justify-content:around;
}

.box{
    background-color:#384087;
    height:100%;
    border-radius: 18px;
    padding:2%;
    width:1000%;
    margin-right:1%;
   
}

.heading{
    color:#F3BCDC;
    font-family: 'Sunflower', sans-serif;
    font-size:72px;
    margin-top:1rem;
    margin-left:3rem;
}

.paragraphs{
    color:white;
    font-size:2.1vw;
    font-family: 'Signika', sans-serif;
    margin:1.5vh;

}

.myImage{
    height:100%;
    border-radius: 18px;
    margin-left:1%;
    max-width:40vw;
    object-fit: cover;

}

@media (max-width:800px){
    


    .whole{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
       height:70vh;
    }

    .paragraphs{
        margin-right:10vh;
    }


    .box{
        height:auto;
        margin-right:auto;
        margin-left:auto;
       max-width:90%;
       min-height:80%;
    }

    .myImage{
        display:none;
    }

    .paragraphs{
        color:white;
        font-size:3.2vw;
        font-family: 'Signika', sans-serif;
        margin:1.5vh;
    
    }


}


@media (max-width:500px){
    .heading{
        font-size:3rem;
        
        }


        .paragraphs{
            text-align:center;
            font-size:0.85rem;
        }
    
    }